@font-face {
    font-family: 'Galyon';
    font-weight: bold;
    src: url('./assets/fonts/Galyon-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Galyon';
    font-weight: 'regular';
    src: url('./assets/fonts/Galyon-Regular.otf') format('opentype');
}
* {
    margin: 0;
    padding: 0;
    font-family: Galyon, sans-serif;
}
*:focus {
    outline: none;
}

